@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/* Project colors : 
    Blue : #0065FC
    LightBlue : #DEEBFF
    LightGrey : #F2F2F2
    GreyTint2 : #D9D9D9
    Marine :  #0065FC
 */

body{
    font-family: 'Raleway', sans-serif;
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
}

.main-tag{
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

.accessory-tag{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

a{
    color: black;
    text-decoration: none;
}
header{
    height : 100px;
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
   
}

#logo-header{
    height: 50px;
}

.nav-ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.nav-li-selected{
    border-top: solid #F9B105 2px;
    padding: 30px;
    color: #F9B105;
}

.nav-li-selected:hover{
    cursor: pointer;
    border-top: solid #F9B105 2px;
}

.nav-li-not-selected{
    border-top: solid transparent 2px;
    padding: 30px;    
}

.nav-li-not-selected:hover{
        color: #F9B105;
        border-top: solid #F9B105 2px;

}

.search-panel{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.search-form{
    display: flex;
    width: 425px;
    flex-direction: row;
    height: 49px;
    margin-top: 15px;
}

.search-icon{
    background-color: #F2F2F2;
    height: 50px;
    width: 49px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.input{
    border-color: transparent;
    font-weight: 700;
    font-style: normal;
}

.input-div{
    height: 49px;
    width: 220px;
}

#input-placeholder{
    height: 46px;
    width: 228px;
    border-left: transparent;
    border-right: transparent;
    border-top: #F2F2F2 solid 1px;
    border-bottom: #F2F2F2 solid 1px;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    padding-left: 10px;
    outline: none;
}

::placeholder {
    color: black;
    opacity: 1; /* Firefox */
    padding-left: 15px;
    font-weight: 700;
    font-size: 18px;
    line-height: 21.13px;
  }

:focus::placeholder{
    color: transparent;
}

.input-button-div {
    display: flex;
    justify-content: center;
    align-items:center;
    width: 150px;
    margin-left: 10px;
}

#input-button{
    border-color: transparent;
    background-color: #0065FC;
    color: white;
    font-size: 18px;
    height: 49px;
    width: 200px;
    margin-top: 1px;
    margin-left: 2px;
    cursor: pointer;
    line-height: 21px;
    text-align: center;
    font-weight: 700;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

#glass-icon{
    display: none;
}

.filter-view{
    margin-top: 50px;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 96%;
    margin-left: 0;
    vertical-align: middle;
}

.filter-list{
    display: flex;
    flex-direction: row;
}

.filter-title{
    font-size: 18px;
    font-weight: 300;
}

.filter-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 15px;
    margin-left: 35px;
    padding: 10px;
    justify-content: center;
    border: solid #D9D9D9 2px;
    border-radius: 25px;
    padding-left: 15px;
    padding-right: 15px;
    color: #0065FC;
}

.filter-div:hover{
    background: #DEEBFF;
}

.filter-item{
    margin-left: 20px;
    font-weight: 300;
    color: black;
}

.info-div{
    display: flex;
    flex-direction: row;
    margin-top: 34px;
    align-items: center;
    font-size: 16px;
}

.info-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin-right: 15px;
    border: solid #D9D9D9 1px ;
    border-radius: 50px;
    font-size: 10px;
    color: #0065FC;
}

.hebergement-global{
    display: flex;
    flex-direction: row;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

#hebergements-marseille{
    width: 65%;
    display: flex;
    flex-direction: column;
    background-color:#F2F2F2;
    border-radius: 25px;
    margin-right: 30px;
    padding: 50px;
}

.hebergements-popular{
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color:#F2F2F2;
    border-radius: 25px;
    padding: 50px;
}

.hebergements-wrapper{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 20px;
}

.hebergement-div{
    background-color: white;
    height: 180px;
    margin-bottom: 30px;
    width : 30%;
    border-radius: 25px;
    padding: 4px;

    color: black;
    text-decoration: none;
    box-shadow: 0px 2px 7px 4px #D9D9D9;
}

.hebergement-div-infos{
    flex-direction: column;
    height: 10%;
    margin: 0;
    padding: 0;
    padding-left: 19px;
}

.p-infos{
    line-height: 19px;
    height: 10px;
    margin: 0;
    padding: 0;
}

.hebergement-title{
    line-height: 19px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    margin-top: 4px;
    margin-bottom: 9px;
    font-size: 16px;
}

.hebergement-category{
    font-size: 22px;
}

.price-label{
    margin: 0;
    padding: 0;
    line-height: 16px;
    margin-bottom: 9px;
    font-size: 14px;
}

.star-line{
    font-size: 12px;
    color: #0065FC;
    display: flex;
    flex-direction: row;
}

.grey-star{
    color: #F2F2F2;
}


.hebergement-image{
    height: 58%;
    width : 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.hebergement-div-infos{
    display: flex;
    height: 40%;
}

.top-div {
    width: 100%;
    height: 200px;
    overflow: hidden; /* Pour s'assurer que l'image ne dépasse pas du conteneur */
}

.top-img {
    margin-top: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.afficher-plus{
    font-size: 18px;
    font-weight: 700;
    padding-top: 30px;
}
.popular-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#popular-chart{
    color:#0065FC;
}

.popular-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 20px;
    
}

.popular-div{
    background-color: white;
    display: flex;
    margin-bottom: 20px ;
    flex-direction: row;
    border-radius: 25px;
    height: 25%;
    width: 100%;
    padding: 4px;
    box-shadow: 0px 2px 7px 4px #D9D9D9;
}

.popular-image{
    width : 40%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    object-fit: cover;
}

.popular-div-infos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    padding : 15px;
    padding-bottom: 5px;
}

#activity-wrap{
    margin-left: auto;
    margin-right: auto;
    height : 500px;
    width: 96%;
    margin-top: 50px;
}

.activity-ul{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding-inline-start: 0px;
}

.activity-list{
    height : 444.51px;
    width : 22%;
    list-style: none;
    box-shadow: 0px 2px 7px 4px #D9D9D9;
    border-radius: 25px;
}

.activity-image{
    height : 389px;
    width : 100%;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    object-fit: cover;
}

.activity-location{
    font-weight: 700;
    font-size: 16px;
    margin-top: 0;
    height: 50px;
    line-height: 50px;
    padding-left: 19px;
}

.activity-title{
    font-size: 22px;
    font-weight: 700;
    line-height: 25.83px;
}

footer{
    width: 96%;
    background-color:#F2F2F2;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
}

.footer-col{
    display: flex;
    flex-basis: 33%;
    flex-direction: column;
    padding-left: 70px;
    margin-top: 45px;
    line-height: 5px;
}

.footer-title{
    font-weight: 700;
    font-size: 18px;
    margin-top: 0;
    height: 50px;
    line-height: 50px;
    margin-bottom: 0;
}

.footer-ul{
    list-style: none;
    padding-left: 0px;
    line-height: 35px;
}

@media screen and (max-width: 992px) {
   
    header{
        width: 90%;
    }

    .search-panel{
        width: 90%;
    }

    .hebergement-global{
        flex-direction: column;
        flex-wrap: wrap;
        display: flex;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
   }

   #hebergements-marseille{
        width: 95%;
        padding: 30px;
        margin-right: 0px;
   }

   .filter-view{
    margin-left: 0px;
   }

   .filter-div{
    margin-left: 15px;
   }

   .hebergements-wrapper{
    justify-content: space-around;
   }

   .afficher-plus{
    margin-left: 15px;
   }

   .hebergements-popular{
    margin-top : 50px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    padding: 30px;
   }

   .popular-div{
    height: 140px;
    margin-right: 15px;
    margin-bottom: 0px;
   }

   .popular-div-infos{
    flex-wrap: nowrap;
   }

   .hebergement-title{
    font-size: 14px;
   }

   .price-label{
   font-size: 12px;
    }

   .popular-wrapper{
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: 0px;
   }

   .popular-image{
    width : 35%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
   }

   .info-div{
    margin-left: 0px;
}

   #activity-wrap{
    height: 300px;
    width: 90%;
}

    .activity-image{
    width: 100%;
    }

    .activity-ul{
    height: 300px;
    justify-content: space-between;
    }

    .activity-location{
    line-height: 20px;
    display: flex;
    align-items: center;
    }

   .activity-wrap{
    height: 500px;
   }

   .activity-title{
    margin-bottom: 30px;
   }

   .activity-list{
    height: 267px;
   }

   .activity-image{
    height: 75%;
   }

   footer{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
   }

}

@media screen and (max-width: 768px) {


        .main-tag{
            margin-left: 0px;
        }

        .accessory-tag{
            margin-left: 0px;
        }

        header{
            flex-direction: column;
            width: 95%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 50px;
            margin-top: 20px;
            padding-left: 0;
            padding-right: 0;
        }

        #logoHeader{
            margin-top: 10px;
            justify-content: center;
            margin-bottom: 50px;
            height: 25px;
        }



        .navbar{
            display: flex;
            width: 100%;
            height: 150px;
            margin-right: 0px;
            justify-content: center;
        }

        .nav-ul{
            display: flex;
            justify-content: center;
            width: 100%;
            margin-left: 0px;
            padding-left: 0px;
        }

        .nav-responsive{
            justify-content: center;
            width: 100%;
            text-align: center;
        }

        .nav-div{
            display: flex;
            padding: 0;
        }

        .nav-li-selected{
            width: 100%;
            border-top: transparent;
            border-bottom: solid #7FA6C1 2px;
        }
        
        .nav-li-selected:hover{
            border-top: none;
        }

        .nav-li-not-selected{
            width: 100%;
            border-top: none;
            border-bottom: solid #F2F2F2 2px;
        }
        
        .nav-li-not-selected:hover{
            cursor: pointer;
            border-bottom: solid #7FA6C1 2px;
            border-top: none;
        }

        .search-form{
            width: auto;
            margin-left: 0px;
            margin-bottom: 20px;
            margin-right: 20px;
        }

       .input-button-div{
        width: auto;
        margin-left: 0;
       }

        #input-button{
            display: none;
            margin: 0;
        }

        .input-div{
            margin-right: 0;
            padding-right: 0;
            width: 100%;
        }

        #input-placeholder{
            width: 100%;
            padding-left: 0;
        }

        #glass-icon{
            display: flex;
            color: white;
            background-color: #0065FC;
            height: 49px;
            width: 50px;
            font-weight: 700;
            justify-content: center;
            align-items: center;
            margin-top: 1px;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
        }

        .filter-view{
            margin-right: 20px;
            margin-top: 20px;
            width: 100%;
            height: auto;
            flex-direction: column;
            
        }

        .filter-list{
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            flex-wrap: wrap ;
            margin-left: auto;
            margin-right: auto;
            width: 90%;
        }

        .filter-div{
            width: 35%; 
            height: 30px;
            margin-left: 0;
            margin-bottom: 20px;
      
        }

        .filter-item{
            font-size: 15px;
        }

        .info-div{
            margin-left: 20px;
            margin-top: 20px;
        }

        .info-circle{
            width: 25px;
            margin-right: 10px;
        }

        .hebergement-global{
            flex-direction: column-reverse;
            margin : 0;
            padding-right: 0px;
            padding-left: 0px;
            width: 100%;
        }

        .hebergements-popular{
           width: 100%;
            margin-left: auto;
            margin-right: auto;
            border-radius: 0;
            padding-left: 0;
            padding-right: 0;
        }

        #hebergements-marseille
        {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
            margin-left: auto;
            margin-right: auto;
        }

        .hebergement-title{
            margin-left: 0;
        }

        .popular-header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-left: 0;
            margin-bottom: 0;
            height: 50px;
            display: flex;  
            margin-top: 10px;
            margin-bottom: 30px;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            
        }

        .popular-wrapper{
            flex-direction: column;
            width: 100%;
            margin: 0;
            padding: 0;
            padding-bottom: 30px;
        }

        .popular-div{
            height: 130px;
            margin-bottom: 20px;
            margin-left: auto;
            margin-right: auto;
            width: 95%;
        }

        #hebergements-marseille{
            background-color: white;
            margin-top: 30px;
            width: 95%;
            margin-left: auto;
            margin-right: auto;
        }

        .hebergements-wrapper{
            width: 100%;
            margin-left: 0px;
            padding-top: 0px;
            margin-right: 0;
            padding-right: 0px;
        }

        .hebergement-div{
            width: 100%;
            height: 240px;
            box-shadow: 0px 2px 7px 4px #F2F2F2;
            margin-top: 20px;
            margin-bottom: 0px;
        }

        .hebergement-image{
            width: 100%;
        }

        .afficher-plus{
            display: none;
        }

        #activity-wrap{
            margin-left: 0px;
            display: flex;
            flex-direction: column;
            height: auto;
            width: 95%;
            margin-left: auto;
            margin-right: auto;
        }


        .activity-locationH2{
            margin-left: 10px;
            width: 120px;
            margin-top: -488px;
            position: absolute;
        }

        .activity-title{
            padding-left: 0px;
            margin-left: 0px;
        }

        .activity-ul{
            flex-direction: column;
            margin-left: 0px;
            width: 100%;
            height: auto;
            padding-left: 0px;
        }

        .activity-list{
            width: 100%;
            margin-bottom: 25px;
        }

        footer{
            flex-direction: column;
            height: auto;
            width: 100%;
            margin-left: 0;
            padding-bottom: 50px;
        }

        .footer-col{
            padding-left: 30px;
        }

    }